![png](Data/ERD.png)

In [9]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from urllib.parse import quote_plus as urlquote





# ## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'YOUR_PASSWORD' # whatever password you chose during MySQL installation.

In [10]:
import json
with open('/Users/purvikansara/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [11]:

connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/chinook"
engine = create_engine(connection)

In [12]:
engine

Engine(mysql+pymysql://root:***@localhost/chinook)

In [13]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

   Tables_in_chinook
0              Album
1             Artist
2           Customer
3           Employee
4              Genre
5            Invoice
6        InvoiceLine
7          MediaType
8           Playlist
9      PlaylistTrack
10             Track

### Q1. What is the most a customer has spent on a single purchase and what is their customerId?

In [17]:
q = '''SELECT 
    customerid, MAX(total) AS most
FROM
    Invoice
GROUP BY customerid
ORDER BY most DESC
LIMIT 1'''

pd.read_sql(q,engine)

   customerid   most
0           6  25.86